<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên</th>
          <th scope="col">Tài Khoản</th>
          <th scope="col">Giới tính</th>
          <th scope="col">Email</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">Quyền</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Phát Đạt</td>
          <td>datcbtg</td>
          <td>Nam</td>
          <td>datcbtg@gmail.com</td>
          <td>Cái Bè</td>
          <td>User</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Nhật Duy</td>
          <td>datcbtg</td>
          <td>Nam</td>
          <td>duycbtg@gmail.com</td>
          <td>Cần Thơ</td>
          <td>User</td>
        </tr>
      </tbody>
</table>