<form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Tên tài khoản</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Mật khẩu</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Đia chỉ</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Email</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="abc@gmail.com">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Khu vực</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Giới tính </label>
      <select id="inputState" class="form-select">
        <option selected>Chọn...</option>
        <option>Nam</option>
        <option>Nữ</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Quyền</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Tôi đồng ý các điều khoản trên
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>